{% extends "main.html" %}
{% load static %}
{% block title %}Исследования{% endblock %}

{% block head %}
    <link href="{% static "css/clusters/cluster.css" %}" type="text/css" rel="stylesheet">

{% endblock %}
{% comment %}{% block account_action %}
            <div class="btn"><a class="nav-link" href="{% url "logout" %}">Выйти</a></div>
{% endblock %}{% endcomment %}
{% block content %}
    <div class='text-block' id="top">

        <div class='text'>
            <p class="p-text">
                На этой странице вы сможете ознакомиться с результатами работы алгоритма <b>DBSCAN</b>, который выделяет
                кластеры и выбросы в датасете городской инфраструктуры.
            </p>
        </div>
    </div>


    <div class="block-btn">
        <select class="form-select" aria-label="Default select example" id="choosing_cluster">
            <option value="0" selected>Выберите кластер</option>
            {% for key, value in clusters.items %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
        <button class="btn" id="increased">Отобразить выбросы</button>
        <div>
            <label class="label-cluster hidden" id="label_cluster">Выбранный кластер: </label>
            <label class="label-cluster" id="in_cluster"></label>
        </div>
    </div>

    <div class="block-data">
        <table class="table-data">
            <thead id="tHead" class="hidden">
            <tr>
                <th class="table-head">Тип объекта</th>
                <th class="table-head">Наименование</th>
                <th class="table-head">Адрес</th>
                <th class="table-head">Контактные данные</th>
                <th class="table-head hidden" id="increased-head">Имя выброса</th>
            </tr>
            </thead>

            <tbody id="table-body">
            </tbody>
        </table>

    </div>
    {% if user.is_authenticated %}
        <div class="hidden" id="btn_name_save1">
            <div style="display: flex; flex-direction: row;">

                <label for="name_cluster" class="label-cluster" id="btn_name_save">Изменить название
                    кластера </label><input
                    type="text" id="name_cluster" name="name_cluster">
                <button class="btn" id="save_name">Сохранить</button>

            </div>
        </div>
    {% else %}
        <div style="display: flex; flex-direction: row;">
            <label for="name_cluster" class="label-cluster" id="btn_name_save2">После авторизации вам будет доступно
                переимнование кластеров и выбросов</label>
        </div>
    {% endif %}
    <div class='text-block' id="bottom">
<div class='text' id="table-desctiption">
            <p class="p-text">
                Таблица на этой странице предоставляет подробную информацию о каждом кластере и выбросе, включая
                координаты, типы объектов и т.д. Это поможет вам лучше понять структуру городской
                инфраструктуры и выделить особенности каждого региона.
            </p>
        </div>
        <div class='text' id="block2">
            <div class="cluster-description">
                <p class="p-text" представляющих схожие характеристики. Кластеры могут указывать на концентрацию
                   объектов определенного типа в конкретном районе города.

                   Выбросы
                >
                    <b>Кластеры</b><br> Это группы близко расположенных точек, представляющих схожие характеристики.
                    Кластеры могут
                    указывать на концентрацию объектов определенного типа в конкретном районе города.
                    <hr>
                    Их изучение выявляет уникальные регионы, где объекты схожи по признакам, помогая понять различия
                    между частями города.
                </p>
            </div>

            <div class="cluster-description" id="p-text-id2">
                <p class="p-text">
                    <b>Выбросы</b><br> Это точки, не входящие в кластеры и представляющие собой отдельные объекты,
                    отличающиеся от
                    основной структуры данных. Они могут быть интересны для дальнейшего анализа.
                    <hr>Их анализ помогает выявить объекты, не соответствующие общей картине, что может быть
                    полезно для обнаружения нестандартных или неожиданных элементов в городской среде.
                </p>
            </div>
        </div>
        
    </div>
    <script src="{% static "js/main.js" %}">
    </script>
    {#    Добавить какой то текст   #}

{% endblock %}