{% extends "main.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block head %}
    <link href="{% static "css/clusters/cluster.css" %}" type="text/css" rel="stylesheet">
    <script src="https://mapgl.2gis.com/api/js/v1"></script>
    <script src="{% static "js/map.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="block-btn">
        <select class="form-select" aria-label="Default select example" id="choosing_cluster">

            <option value="0" selected>Выберите кластер</option>
            {% for i in clusters %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}

        </select>
        <button class="btn" id="increased">Отобразить выбросы</button>
        <div>
            <label class="label-cluster">Выбранный кластер: </label>
            <label class="label-cluster" id="in_cluster"></label>
        </div>
    </div>

    <div class="block-data" id="map">
    </div>

    <script>
        const map = new mapgl.Map('map', {
            key: '1a6a4fb2-04da-4688-bd87-2989b85ee9eb',
            center: [37.588144, 55.733842],
            zoom: 10,
        });


    </script>
    {#    Добавить какой то текст   #}

{% endblock %}
{% block javascript %}


{% endblock %}
